@import "global.css";

body {
	background: linear-gradient(56deg, var(--background-dark), var(--yellow-extradark));
}

section.content {
	height: 100%;
	padding: 12px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

img.logo {
	align-self: center;
	width: 150px;
}

div.loading {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-top: 40vh;
}

div.loading-bar {
	animation: is-rotating 1s infinite;
	border: 12px solid var(--topbar-dark);
	border-radius: 50%;
	border-top-color: var(--red-logo);
	width: 100px;
	height: 100px;
}

span.loading-text {
	color: lightgray;
	font-size: 1em;
	text-transform: uppercase;
	margin-top: 30px;
}

@keyframes is-rotating {
	to {
		transform: rotate(1turn);
	}
}
